body {
  background-color: lightblue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1, h2 {
background-color: forestgreen;
padding: 15px;
display: flex;
justify-content: center;
color: white;
border-radius: 8px;
}


button {
background-color: rgb(206, 6, 146);
border-color: azure;
padding: 30px;
display: flex;
margin: 0 auto;
color: white;
border-radius: 16px;
font-size: 20px;
}


#user {
  display: flex;
  width: 500px;
  background-color: lightseagreen;
  color: white;
  border-radius: 8px;
  padding: 15px;
  margin-top: 20px;
  margin: 20px auto;
  text-align: center;
  justify-content: center;
}

#computer {
  display: flex;
  width: 500px;
  background-color: goldenrod;
  color: white;
  border-radius: 8px;
  padding: 15px;
  margin-top: 20px;
  margin: 20px auto;
  text-align: center;
  justify-content: center;
}


#result {
  display: flex;
  width: 500px;
  background-color: rgb(45, 31, 241);

  color: white;
  border-radius: 8px;
  padding: 30px;
  margin-top: 20px;
  margin: 20px auto;
  text-align: center;
  justify-content: center;
}